body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #ffe6f2;
  text-align: center;
  color: #333;
}

header {
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
}

nav {
  margin: 20px 0;
}

nav a {
  text-decoration: none;
  margin: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #ff4da6;
}

nav a:hover {
  color: #cc0066;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  font-size: 35px;
  margin-top: 40px;
}

p {
  font-size: 25px;
}

.countdown {
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
  background: white;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.gallery img {
  width: 260px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.pancinha img{
    width:200px;
}

.cha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cha img{
    width: 600px;
    max-width: 95%;
    border-radius: 20px;
}

.msg-box{
   background: white;
   padding:25px;
   border-radius:20px;
   font-size:26px;
   max-width:750px;
   margin:30px auto;
   box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
   text-align: justify;
}

.btn{
  display:inline-block;
  background: #ff4da6;
  color: white;
  padding: 18px 35px;
  border-radius:25px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background-color: #cc0066;
}
